<nav class="main_menu" id="main_menu">
    <div class="header_menu width_common"><span class="close_main_menu close-menu"><i class="ic ic-false"></i></span></div>
    <div class="block_scoll_menu width_common">
        <div class="block_search width_common">
            <form id="cms_search" action="#" method="get">
                <input class="input_form" id="auto_search_textbox" placeholder="Tìm kiếm" aria-label="Tìm kiếm" type="search">
                <button class="btn_search" id="auto_search_button" type="submit" value="" name="btn_search"><i class="ic ic-search"></i></button>
            </form>
        </div>
        <div class="list_menu width_common">
            <ul class="list_item_panel width_common list_index">
                <li><a class="link_item_panel" href="/" title="Trang nhất">Trang nhất</a></li>
                <li><a class="item_social btn_twitter item_twit" href="" title="Twitter" target="_blank" rel="noopener"><i class="ic ic-twitter"></i></a><a class="item_social btn_facebook item_fb" href="" title="Cộng đồng NguoiLaoDong" target="_blank" rel="noopener"><i class="ic ic-facebook"></i></a><a class="item_social item_rss" href="/rss" title="Rss"><i class="ic ic-rss"></i></a></li>
            </ul>
            <ul class="list_item_panel width_common">
                <li><a class="link_item_panel thoisu" href="/chuyen-muc/tieu-diem" title="Tiêu điểm">Tiêu điểm</a></li>
                <li><a class="link_item_panel gocnhin" href="/chuyen-muc/trong-nuoc" title="Trong nước">Trong nước</a></li>
                <li><a class="link_item_panel thegioi" href="/chuyen-muc/quoc-te" title="Quốc tế">Quốc tế</a></li>
                <li><a class="link_item_panel" href="/chuyen-muc/xay-dung" title="Xây dựng">Xây dựng</a></li>
                <li><a class="link_item_panel kinhdoanh" href="chuyen-muc/do-thi" title="Đô thị">Đô thị</a></li>
                <li><a class="link_item_panel giaitri" href="/chuyen-muc/khoa-hoc-cong-nghe" title="Khoa học - Công nghệ">Khoa học - Công nghệ</a></li>
                <li><a class="link_item_panel thethao" href="/chuyen-muc/thi-truong-bds">Thị trường BĐS</a></li>
                <li><a class="link_item_panel kinhdoanh" href="/chuyen-muc/thuong-hieu" title="Thương hiệu">Thương hiệu</a></li>                
                <li>
                    <a class="link_item_panel thethao" href="/chuyen-muc/thu-toa-soan">
                        Thư tòa soạn
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<footer class="footer" id="wrapper_footer" style="margin-bottom: 30px;">
    <footer class="footer-nav">
        <div class="container">
            <nav class="main-nav">
                <ul class="parent d-flex justify-content-around">
                    <li class=""><a title="Tiêu điểm" href="/chuyen-muc/tieu-diem">Tiêu điểm</a></li>
                    <li class=""><a title="Xây dựng" href="/chuyen-muc/xay-dung">Xây dựng</a></li>
                    <li class=""><a title="Đô thị" href="/chuyen-muc/do-thi">Đô thị</a></li>
                    <li class=""><a title="Pháp luật về Xây dựng" href="/chuyen-muc/pha-luat-ve-xay-dung">Pháp luật về Xây dựng</a></li>
                    <li class=""><a title="Thị trường BĐS" href="/chuyen-muc/thi-truong-bds">Thị trường BĐS</a></li>
                    <li class=""><a title="Thương hiệu" href="/chuyen-muc/thuong-hieu">Thương hiệu</a></li>
                    <li class=""><a title="Khoa học - Công nghệ" href="/chuyen-muc/khoa-hoc-cong-nghe">Khoa học - Công nghệ</a></li>
                    <li class=""><a title="Thư tòa soạn" href="/chuyen-muc/thu-toa-soan">Thư tòa soạn</a></li>
                    <li class=""><a title="Ảnh" href="/chuyen-muc/anh">Ảnh</a></li>
                    <li class=""><a title="Tạp chí in" href="/chuyen-muc/tap-chi-in">Tạp chí in</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <div class="copyright width_common">
        <div class="container">
            <div>
                <div class="col-left">
                    <div class="only-pc">
                        <a style="margin-left: 0px;" href="/" title="Báo tiếng Việt nhiều người xem nhất"><img src="/assets/images/logo.png" alt="Tạp chí Xây dựng"></a>
                    </div>
                    <br />
                    <p class="copyright-desc" style="margin-top: 10px; font-size: 15px;"><b>TẠP CHÍ NGƯỜI XÂY DỰNG</b></p>
                    <p class="copyright-desc">® Giấy phép số 112/GP-TTĐT do Bộ Thông Tin và Truyền Thông cấp ngày 08/07/2020</p>
                    <p class="copyright-desc">Tổng Biên tập: KTS <b>Vũ Quốc Chinh.</b></p>
                    <p class="copyright-desc">
                        Phó Tổng biên tập: KS <b>Nguyễn Xuân Hải</b>
                    </p>
                    <p class="copyright-desc">
                        Cử nhân luật <b>Trần Cường</b> (phụ trách nội dung).
                    </p>
                    <p class="copyright-desc">
                        <b>Tòa soạn:</b> Số 625A đường La Thành, Hà Nội.
                    </p>
                    <p class="copyright-desc">
                        Điện thoại: <b>024.3831.4740</b>     <span style="font-weight: 700; color: #ff0000">Hotline: 0983.393.115</span>
                    </p>
                    <p class="copyright-desc">
                        Email:nguoixaydungdt@gmail.com
                    </p>
                </div>
                <div class="col-right">
                    <div>
                        <p><b>Văn phòng Truyền thông Bắc miền Trung:</b></p>
                        <p>Địa chỉ: Số 11A đường Dương Vân Nga, TP Vinh, tỉnh Nghệ An.</p>
                        <p>Điện thoại: 098.339.3115; 091.409.8668</p>
                        <br />
                        <p><b>Đại diện tòa soạn phía Nam:</b></p>
                        <p>GS.TS. <b>Huỳnh Văn Hoàng</b></p>
                        <p>Địa chỉ: Cao ốc số 8-12 Nam Kỳ Khởi Nghĩa (T8), P. Nguyễn Thái Bình, Q1,  TP Hồ Chí Minh.</p>
                        <p>Điện thoại: 028.38211106 <span style="margin-left: 20px;">Fax: 028.38211154</span></p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="right flexbox col-lg-6 d-flex justify-content-end">
                <a href="/rss" data-medium="Menu-Rss" title="RSS" data-itm-source="#vn_source=Detail&amp;vn_campaign=Footer&amp;vn_medium=Menu-Rss&amp;vn_term=Desktop" data-itm-added="1">RSS</a><span class="txt-follow">Mạng xã hội</span><a class="social_ft face_ft" href="#" title="Facebook">
                    <svg class="ic ic-facebook">
                        <use xlink:href="#Facebook">
                            <svg id="Facebook" viewBox="0 0 32 32">
                                <path d="M22.912 10.485l-0.582 5.515h-4.409v16h-6.622v-16h-3.3v-5.515h3.3v-3.32c0-4.486 1.865-7.164 7.168-7.164h4.407v5.515h-2.758c-2.058 0-2.195 0.777-2.195 2.214v2.756h4.99z"></path>
                            </svg>
                        </use>
                    </svg>
                </a><a class="social_ft twitter_ft" href="#" title="Twitter">
                    <svg class="ic ic-twitter">
                        <use xlink:href="#Twitter">
                            <svg id="Twitter" viewBox="0 0 32 32">
                                <path d="M32 6c-1.2 0.6-2.4 0.8-3.8 1 1.4-0.8 2.4-2 2.8-3.6-1.2 0.8-2.6 1.2-4.2 1.6-1.2-1.2-3-2-4.8-2-3.4 0-6.4 3-6.4 6.6 0 0.6 0 1 0.2 1.4-5.4-0.2-10.4-2.8-13.6-6.8-0.6 1-0.8 2-0.8 3.4 0 2.2 1.2 4.2 3 5.4-1 0-2-0.4-3-0.8 0 3.2 2.2 5.8 5.2 6.4-0.6 0.2-1.2 0.2-1.8 0.2-0.4 0-0.8 0-1.2-0.2 0.8 2.6 3.2 4.6 6.2 4.6-2.2 1.8-5 2.8-8.2 2.8h-1.6c3 1.8 6.4 3 10 3 12 0 18.6-10 18.6-18.6v-0.8c1.4-1 2.6-2.2 3.4-3.6z"></path>
                            </svg>
                        </use>
                    </svg>
                </a><a class="social_ft youtube_ft" target="_blank" href="#" title="Youtube">
                    <svg class="ic ic-youtube">
                        <use xlink:href="#Youtube">
                            <svg id="Youtube" viewBox="0 0 32 32">
                                <path d="M31.331 7.52c-0.368-1.386-1.452-2.477-2.829-2.847-2.496-0.673-12.502-0.673-12.502-0.673s-10.007 0-12.502 0.673c-1.377 0.37-2.461 1.462-2.829 2.847-0.669 2.512-0.669 7.752-0.669 7.752s0 5.24 0.669 7.752c0.368 1.386 1.452 2.432 2.829 2.802 2.496 0.673 12.502 0.673 12.502 0.673s10.007 0 12.502-0.673c1.377-0.37 2.461-1.416 2.829-2.802 0.669-2.512 0.669-7.752 0.669-7.752s0-5.241-0.669-7.752v0zM12.727 20.031v-9.516l8.364 4.758-8.364 4.758z"></path>
                            </svg>
                        </use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>