<div class="lazier" id="_ads_bg_top"></div>
<section class="section section-ads-top banner-ads banner-top-home" id="supper_masthead">
    <div class="container">
        <a href="#"><img src="/data/advertising/mainimages/original/1.jpg" /></a>
    </div>
</section>
<header class="section top-header">
    <div class="container">
        <a class="all-menu all-menu-tablet" href="javascript:;"><span class="hamburger"></span></a>
        <p class="h1-logo"><a class="logo" href="/" title="Báo tiếng Việt nhiều người xem nhất"><img src="/assets/images/logo.png" alt="Tạp chí Xây dựng"></a></p><span class="time-now"> @DateTime.Now.ToString("dd/MM/yyyy")</span>
        <div class="right" style="margin-top: 10px;">
            <a class="btn24hqua" href="/" title="Mới nhất">
                <svg class="ic ic-24h">
                    <use xlink:href="#time"></use>
                    <svg id="time" viewBox="0 0 32 32">
                        <path d="M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16c8.8 0 16-7.2 16-16s-7.2-16-16-16zM16 28c-6.6 0-12-5.4-12-12s5.4-12 12-12c6.6 0 12 5.4 12 12s-5.4 12-12 12z"></path>
                        <path d="M18 8h-4v10h10v-4h-6v-6z"></path>
                    </svg>
                </svg>Mới nhất
            </a>
            <form class="search"  method="get" action="/tim-kiem">
                <input type="text" placeholder="Tìm kiếm" id="inp_keyword" name="keyword">
                <button type="submit">
                    <svg class="ic ic-search">
                        <use xlink:href="#Search">
                            <svg id="Search" viewBox="0 0 32 32">
                                <path d="M14 28c-7.72 0-14-6.28-14-14s6.28-14 14-14c7.72 0 14 6.28 14 14s-6.28 14-14 14zM14 4c-5.514 0-10 4.486-10 10s4.486 10 10 10c5.514 0 10-4.486 10-10s-4.486-10-10-10z"></path>
                                <path d="M31.414 28.586l-4.786-4.786c-0.821 1.057-1.771 2.007-2.828 2.828l4.786 4.786c0.185 0.186 0.406 0.334 0.648 0.435s0.503 0.153 0.766 0.153 0.523-0.052 0.766-0.153c0.243-0.101 0.463-0.249 0.648-0.435s0.333-0.406 0.434-0.649 0.152-0.503 0.152-0.765c0-0.263-0.052-0.523-0.152-0.765s-0.248-0.463-0.434-0.649z"></path>
                            </svg>
                        </use>
                    </svg>
                </button>
            </form>
            <div id="mycms_taskbar">
                <div class="mycms_taskbar mycms_login_button" id="mycms">
                    <a class="log_txt" href="javascript:void(0);" title="Đăng nhập">
                        <svg class="ic ic-user">
                            <use xlink:href="#User">
                                <svg id="User" viewBox="0 0 32 32">
                                    <path d="M16 16c4.418 0 8-3.582 8-8s-3.582-8-8-8c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path>
                                    <path d="M32 26.4c0.003-0.766-0.214-1.516-0.627-2.161s-1.002-1.157-1.699-1.475c-4.312-1.876-8.972-2.818-13.674-2.764-4.702-0.054-9.362 0.888-13.674 2.764-0.696 0.318-1.286 0.83-1.699 1.475s-0.63 1.395-0.627 2.161v5.6h32v-5.6z"></path>
                                </svg>
                            </use>
                        </svg> Đăng nhập
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="inner_section section-btn-sub flexbox">
    <h2>
        <a class="btn-link btn-lasted" title="Mới nhất" href="/">
            <svg class="ic ic-24h">
                <use xlink:href="#time"></use>
            </svg>Mới nhất
        </a>
    </h2>
    @*<a class="btn-link btn-view" title="Xem nhiều" href="/Home/Index">Xem nhiều</a>*@
</section>
<section class="section navigation_scroll nav_user section_nav section_nav_v2">
    <div class="wrap-scroll-nav">
        <ul class="menu_bread" id="auto_breadcrumb_bar">
            <li>
                <a class="icon_home icon_home_v2" title="Home" href="/">
                    <span class="ico-home">
                        <svg class="ic ic-home">
                            <use xlink:href="#Home"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="newlest"><a href="/" title="Mới nhất">Mới nhất</a></li>
            <li><a title="Tiêu điểm" href="/chuyen-muc/tieu-diem">Tiêu điểm</a></li>
            <li><a title="Xây dựng" href="/chuyen-muc/xay-dung">Xây dựng</a></li>
            <li><a title="Đô thị" href="/chuyen-muc/do-thi">Đô thị</a></li>
            <li><a title="Pháp luật về Xây dựng" href="/chuyen-muc/pha-luat-ve-xay-dung">Pháp luật về Xây dựng</a></li>
            <li><a title="Thị trường BĐS" href="/chuyen-muc/thi-truong-bds">Thị trường BĐS</a></li>
            <li><a title="Thương hiệu" href="/chuyen-muc/thuong-hieu">Thương hiệu</a></li>
            <li><a title="Khoa học - Công nghệ" href="/chuyen-muc/khoa-hoc-cong-nghe">Khoa học - Công nghệ</a></li>
            <li><a title="Thư tòa soạn" href="/chuyen-muc/thu-toa-soan">Thư tòa soạn</a></li>
            <li><a title="Diễn đàn" href="/chuyen-muc/dien-dan">Diễn đàn</a></li>
            <li><a title="Ảnh" href="/chuyen-muc/anh">Ảnh</a></li>
            <li><a title="Tạp chí in" href="/chuyen-muc/tap-chi-in">Tạp chí in</a></li>
        </ul>
    </div>
</section>
<section class="section wrap-main-nav" id="wrap-main-nav">
    <nav class="main-nav">
        <ul class="parent">
            <li class="home">
                <a class="flexbox" href="/" title="Trang chủ">
                    <svg class="ic ic-home">
                        <use xlink:href="#Home">
                            <svg id="Home" viewBox="0 0 32 32">
                                <path d="M21.909 31.85h4c1.2 0 2-0.8 2-2v-14h2c0.6 0 1.2-0.2 1.6-0.6 0.8-0.8 0.6-2-0.2-2.8l-14-12c-0.8-0.6-1.8-0.6-2.6 0l-14 12c-0.8 0.8-1 2-0.2 2.8 0.2 0.4 0.8 0.6 1.4 0.6h2v14c0 1.2 0.8 2 2 2h4c1.2 0 2-0.8 2-2v-6h8v6c0 1.2 0.8 2 2 2z"></path>
                            </svg>
                        </use>
                    </svg>
                    <svg class="ic ic-ecms">
                        <use xlink:href="#letter-E">
                            <svg id="letter-E" viewBox="0 0 32 32">
                                <path fill="#9f224e" style="fill: var(--color1, #9f224e)" d="M10.783 7.811h15.652v-4.226h-20.87v24.83h20.87v-4.226h-15.652v-5.811h7.304v-4.755h-7.304v-5.811z"></path>
                                <path fill="#9f224e" style="fill: var(--color1, #9f224e)" d="M28.5 32c0.828 0 1.5-0.682 1.5-1.524v-28.952c0-0.842-0.672-1.524-1.5-1.524h-25c-0.829 0-1.5 0.682-1.5 1.524v28.952c0 0.842 0.671 1.524 1.5 1.524h25zM26.586 9.396h-14.238v2.642h5.89c0.864 0 1.414 0.765 1.414 1.64v4.755c0 0.875-0.55 1.529-1.414 1.529h-5.89v2.642h14.238c0.864 0 1.414 0.766 1.414 1.64v4.226c0 0.875-0.55 1.529-1.414 1.529h-20.869c-0.865 0-1.717-0.655-1.717-1.529v-24.83c0-0.875 0.852-1.64 1.717-1.64h20.869c0.864 0 1.414 0.765 1.414 1.64v4.226c0 0.875-0.55 1.529-1.414 1.529z"></path>
                                <path fill="#fff" style="fill: var(--color2, #fff)" d="M28 28.471v-4.226c0-0.875-0.55-1.64-1.414-1.64h-14.238v-2.642h5.89c0.864 0 1.414-0.655 1.414-1.529v-4.755c0-0.875-0.55-1.64-1.414-1.64h-5.89v-2.642h14.238c0.864 0 1.414-0.655 1.414-1.529v-4.226c0-0.875-0.55-1.64-1.414-1.64h-20.869c-0.865 0-1.717 0.765-1.717 1.64v24.83c0 0.875 0.852 1.529 1.717 1.529h20.869c0.864 0 1.414-0.655 1.414-1.529zM26.435 7.811h-15.652v5.811h7.304v4.755h-7.304v5.811h15.652v4.226h-20.87v-24.83h20.87v4.226z"></path>
                            </svg>
                        </use>
                    </svg>
                </a>
            </li>
            <li class="thoisu">
                <a href="/chuyen-muc/tieu-diem">Tiêu điểm</a>
                <ul class="sub">
                    <li><a title="Trong nước" href="/chuyen-muc/trong-nuoc">Trong nước</a></li>
                    <li><a title="Quốc tế" href="/chuyen-muc/quoc-te">Quốc tế</a></li>
                </ul>
            </li>
            <li><a title="Xây dựng" href="/chuyen-muc/xay-dung">Xây dựng</a></li>
            <li><a title="Đô thị" href="/chuyen-muc/do-thi">Đô thị</a></li>
            <li><a title="Pháp luật về Xây dựng" href="/chuyen-muc/pha-luat-ve-xay-dung">Pháp luật về Xây dựng</a></li>
            <li><a title="Thị trường BĐS" href="/chuyen-muc/thi-truong-bds">Thị trường BĐS</a></li>
            <li><a title="Thương hiệu" href="/chuyen-muc/thuong-hieu">Thương hiệu</a></li>
            <li><a title="Khoa học - Công nghệ" href="/chuyen-muc/khoa-hoc-cong-nghe">Khoa học - Công nghệ</a></li>
            <li><a title="Thư tòa soạn" href="/chuyen-muc/thu-toa-soan">Thư tòa soạn</a></li>
            <li><a title="Ảnh" href="/chuyen-muc/anh">Ảnh</a></li>
            <li><a title="Tạp chí in" href="/chuyen-muc/tap-chi-in">Tạp chí in</a></li>
            <li class="all-menu has_transition"><a href="javascript:;">Tất cả<span class="hamburger"></span></a></li>
        </ul>
    </nav>
    <section class="wrap-all-menu">
        <div class="container">
            <div class="header-menu"><span class="name-header">Tất cả chuyên mục</span><a class="close-menu" href="javascript:;" title="Đóng">Đóng<span class="icon-close"></span></a></div>
            <div class="content-left">
                <div class="width_common scroll-menu-expand scrollbar-inner ss-container" style="height: 579px;">
                    <div class="ss-wrapper">
                        <div class="ss-content">
                            <div class="row-menu">
                                <ul class="cat-menu">
                                    <li><a title="Tiêu điểm" href="/chuyen-muc/tieu-diem">Tiêu điểm</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-1">
                                    <li class="thoisu"><a title="Xây dựng" href="/chuyen-muc/xay-dung">Xây dựng</a></li>
                                </ul>
                                <ul class="cat-menu">
                                    <li><a title="Đô thị" href="/chuyen-muc/do-thi">Đô thị</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-3">
                                    <li class="thegioi"><a title="Pháp luật về Xây dựng" href="/chuyen-muc/pha-luat-ve-xay-dung">Pháp luật về Xây dựng</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-4">
                                    <li class="kinhdoanh"><a title="Thị trường BĐS" href="/chuyen-muc/thi-truong-bds">Thị trường BĐS</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-5">
                                    <li class="giaitri"><a title="Thương hiệu" href="/chuyen-muc/thuong-hieu">Thương hiệu</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-6">
                                    <li class="thethao"><a title="Khoa học - Công nghệ" href="/chuyen-muc/khoa-hoc-cong-nghe">Khoa học - Công nghệ</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-0">
                                    <li class="video"><a title="Thư tòa soạn" href="/chuyen-muc/thu-toa-soan">Thư tòa soạn</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-0">
                                    <li class="video"><a title="Diễn đàn" href="/chuyen-muc/dien-dan">Diễn đàn</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-0">
                                    <li class="video"><a title="Ảnh" href="/chuyen-muc/anh">Ảnh</a></li>
                                </ul>
                                <ul class="cat-menu fix-view-cate-0">
                                    <li class="video"><a title="Tạp chí in" href="/chuyen-muc/tap-chi-in">Tạp chí in</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ss-scroll ss-hidden"></div>
                </div>
            </div>
            <div class="content-right">
                <div class="width_common scroll-menu-expand scrollbar-inner ss-container" style="height: 689px;">
                    <div class="ss-wrapper">
                        <div class="ss-content">
                            @*<ul class="type-news">
                                <li class="item-type"><a title="Ảnh" href="/Home/Index">Ảnh</a></li>
                                <li class="item-type"><a title="Infographics" href="/Home/Index">Infographics</a></li>
                            </ul>
                            <ul class="type-news">
                                <li class="item-type"><a title="Mới nhất" href="/Home/Index">Mới nhất</a></li>
                                <li class="item-type"><a title="Xem nhiều" href="/Home/Index">Xem nhiều</a></li>
                                <li class="item-type"><a title="Tin nóng" href="/Home/Index">Tin nóng</a></li>
                            </ul>*@
                            <div class="contact">
                                <p>Liên hệ</p><a class="mail" title="Tòa soạn" href="#">
                                    <svg class="ic ic-mail">
                                        <use xlink:href="#Mail">
                                            <svg id="Mail" viewBox="0 0 32 32">
                                                <path d="M17.416 18.605c-0.436 0.257-0.922 0.392-1.416 0.392s-0.981-0.135-1.416-0.392l-14.559-8.605c-0.005 0.045-0.024 0.086-0.024 0.132v18.764c0 0.293 0.105 0.574 0.293 0.781s0.442 0.323 0.707 0.323h30c0.265 0 0.52-0.116 0.707-0.323s0.293-0.488 0.293-0.781v-18.764c0-0.046-0.019-0.086-0.024-0.131l-14.56 8.604z"></path>
                                                <path d="M31 4h-30c-0.265 0-0.52 0.123-0.707 0.341s-0.293 0.514-0.293 0.823v2.327c-0 0.211 0.049 0.417 0.142 0.598s0.226 0.329 0.386 0.428l15 9.345c0.145 0.091 0.307 0.138 0.472 0.138s0.327-0.047 0.472-0.138l15-9.345c0.16-0.099 0.293-0.247 0.386-0.428s0.142-0.387 0.142-0.598v-2.327c0-0.309-0.105-0.605-0.293-0.823s-0.442-0.341-0.707-0.341z"></path>
                                            </svg>
                                        </use>
                                    </svg>Tòa soạn
                                </a><a class="ads" title="Quảng cáo" href="#">
                                    <svg class="ic ic-ads">
                                        <use xlink:href="#QuangCao"></use>
                                    </svg>Quảng cáo
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ss-scroll ss-hidden"></div>
                </div>
            </div>
        </div>
    </section>
</section>